div.gallery__home{
	max-width: 1200px;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-content: flex-start;

	padding: 5px;
}
div.card__home{
	width: 300px;
	height: 300px;
	background-image: url("../img/Profile.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin: 5px;
	flex: auto;
}
