@font-face{
	font-family: Brandon Grotesque Light;
	src: url("../fonts/Brandon_light.otf");
}
html,body{
	margin: 0;
	font-family: Brandon Grotesque Light;
}

div.container__main{
	width: 100vw;
	height: 100vh;

	display: flex;
	display: -webkit-flex;

	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;

	align-items: stretch;
}

aside.menu__main{
	min-width: 300px;
	overflow-y: scroll;
	flex: 0 1 300px;
	padding: 40px;

	display: flex;
	flex-flow: column nowrap;
}

h1.header__main{
}

nav.__main{
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	align-content: flex-start;
	min-height: 200px;
}

div.item__main{
	flex: 0 auto;
	margin: auto 0;
	cursor: pointer;
}

div.content__main{
	flex: auto;
	display: inline-flex;
	overflow-y: scroll;
}
