html,body{
	margin: 0;
}

div#container{
	display: block;
	width: 100vw;
	height: 100vh;

	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-align-items: stretch;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

div.nav__main{
	width: 300px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background-color: black;
	-webkit-flex: 1 0 300px;
	flex: 1 0 300px;
}

div.content__main{
	width: 80%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	-webkit-flex: 3 1 auto;
	flex: 3 1 auto;
}
