@font-face{
	font-family: Brandon Grotesque Light;
	src: url("../fonts/Brandon_light.otf");
}
html,body{
	margin: 30px;
	font-family: Brandon Grotesque Light;
	display: flex;
	justify-content: center;
}

div.container__main{
	flex: auto;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

aside.menu__main{
	min-width: 150px;
	flex: 0 1 auto;
	padding: 40px;

	display: flex;
	flex-flow: column nowrap;
}

h1.header__main{
	cursor: pointer;
}

nav.__main{
	flex: 0 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	align-content: flex-start;
}

div.item__main{
	flex: 0 auto;
	margin: 5px 0;
	cursor: pointer;
	opacity: 0.5;
}

div.item__main:hover{
	opacity: 1;
}

div.item__main.active{
	opacity: 1;
}

div.item__main.parent{
	overflow: hidden;
}

div.item__main.title{
	opacity: 1;
}

div.item__main.child{
	text-indent: 10pt;
}

div.item__main.parent .child{
//	height: 0;
}

div.item__main.parent.active .child{
//	height: auto;
}

div.content__main{
	flex: auto;
	display: inline-flex;
	max-width: 1200px;
	overflow: auto;
}
