div.project{
	max-width: 1600px;
	flex: auto;

	display: flex;
	flex-flow: column wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

h1.title__project{
	font-size: 40pt;
	margin: 0;
	width: 100%;
	flex: auto;
	text-align: right;
}

div.assets__project{
	max-width: 1600px;
	flex: auto;

	display: flex;
	flex-flow: row nowrap;
	position: relative;
}

div.description__project{
	flex: 0 0 450px;
	padding-right: 15px;
}

div.project__gallery{
	flex: auto;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

div.carousel__gallery{
	margin: 15px;
	width: 500px;
	height: 500px;
	flex: 0 0 auto;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
}

div.arrow{
	height: 100%;
	width: 30px;
	position: absolute;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: .5;
}

div.arrow:hover{
	opacity: 1;
}

div#left.arrow{
	left: 0;
	background-image: url("../img/left.svg");
}

div#right.arrow{
	right: 0;
	background-image: url("../img/right.svg");
}

div.item__carousel{
	transition: 300ms margin-left ease-in;
	width: 100%;
	height: 100%;
	flex: 0 0 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

div.caption__item{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	transition: 100ms opacity ease-in-out;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	opacity: 0;
	bottom: 0;
}

div.carousel__gallery.active div.caption__item{
	opacity: 1;
}

div#overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
	opacity: 0;
	transition: 200ms opacity ease-in-out;
	top: 0; 
	left: 0;
	display: none;
}

div#overlay.active{
	display: block;
	opacity: 1;
}

div#overlay div.carousel__gallery{
	width: 100%;
	height: 100%;
	margin: 0;
}

div#overlay div#left.arrow{
	left: 30px;
}

div#overlay div#right.arrow{
	right: 30px;
}

div#overlay div.caption__item{
	opacity: 1;
	color: black;
	font-size: 20pt;
	text-align: left;
	padding-left: 30px;
	background-color: transparent;
}

div#overlay div#close{
	background-image: url("../img/close.svg");
	background-size: cover;
	background-position: center;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 99999;
}

div#overlay canvas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
