div#resume{
	width: 600px;
	flex: 0 0 auto;
}

div#resume ul{
	max-width: 600px;
}

div#resume h1{
	font-size: 14pt;
}

div#resume h2{
	margin: 0;
	font-size: 12pt;
}

div#resume h3{
	margin-top: 0;
	font-size: 10pt;
}

div#resume h4, div#resume p, div#resume ul{
	font-size: 10pt;
}
