div#bio{
	max-width: 900px;
	flex: auto;

	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

div#about{
	width: 400px;
	flex: auto;
	
	display: flex;
	flex-flow: column nowrap;
}

div#about p{
	flex: 0 0 auto;
	padding: 0 30px;
}

div#portrait{
	width: 475px;
	height: 350px;
	flex: auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
