path{
	opacity: 0;
}

html, body{
	margin: 0;
}

svg{
	position: absolute;
	z-index: -5;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
}

div#page{
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

header{
	width: 100%;
	text-align: center;
	margin-bottom: 2em;
}

a.badge, a.badge:visited{
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 3em;
	height: 3em;
	padding: 0 1em;
	display: inline-block;
	position: relative;
	transition: margin-bottom 100ms ease-in-out;
}

a.badge:hover{
	margin-bottom: -5px;
}

a#mail{
	background-image: url("../svg/mail.svg");
}

a#facebook{
	background-image: url("../svg/facebook.svg");
}

a#twitter{
	background-image: url("../svg/twitter.svg");
}

a#instagram{
	background-image: url("../svg/insta.svg");
}

a#tumblr{
	background-image: url("../svg/tumblr.svg");
}

a#pinterest{
	background-image: url("../svg/pinterest.svg");
}

a#linkedin{
	background-image: url("../svg/linkedin.svg");
}
div#header{
	height: 100px;
	width: 100%;
	margin: 1em auto;
	background-image: url(../svg/header.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

div#content{
	text-align: center;
	width: 100%;
}

div#portrait{
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	width: 10em;
	height: 10em;
	border: 1px solid black;
	background-color: white;
	background-image: url("../img/headshot.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

div#bio{
	display: inline-block;
	position: relative;
	width: 20%;
	min-width: 500px;
	padding: 2em;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
	transition: margin-bottom, opacity 300ms ease-in-out;
}

div#bio.active{
	opacity: 1;
	bottom: 0;
}

a#portfolio{
	display: block;
	margin: 0 auto;
	height: 5em;
	width: 10em;
	background-image: url("../svg/portfolio.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 1px solid transparent;
	transition-property: border-bottom-color;
	transition-duration: 100ms;
	transition-timing-function: ease-in-out;
}

a#portfolio:hover{
	border-bottom-color: black;
}
