header{                                     
    width: 100%;

    position: relative;
    z-index: 9999;

    box-sizing: border-box;
    padding: 1em;


    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header.floating{
    position: fixed;
    top: 0;
    left: 0;
}

header h1{
    flex: 1 1 30em;

    box-sizing: border-box;

    margin: 0;
    
    transition: color 300ms ease-in-out;
}

header nav#main{
    flex: 1 1 auto;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

header nav#main > *{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.item > div.dropdown-container{
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    transform: scale(1, 0);
    transform-origin: top center;

    overflow: hidden;
}

div.item div.dropdown{
    transform: translateY(-200%);

    transition: transform 150ms ease-out;
}

div.item.open div.dropdown-container{
    transform: scale(1, 1);
}

div.item.open div.dropdown{
    transform: translateY(0);
}

div.dropdown div.item{
    margin: 1em;
}

nav#mobile{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: white;

    box-sizing: border-box;
    padding: 2em 1.5em;

    width: 100vw;
    height: 100vh;

    overflow-y: auto;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}

nav#mobile.active{
    transform: translateX(0);
}

nav#mobile *, nav#mobile visited{
    color: black;
}

nav#mobile h1{
    font-size: 1.75em;
}

nav#mobile h2{
    font-size: 1.25em;
    margin-left: 1em;
}

nav#mobile h3{
    font-size: 1em;
    margin-left: 2em;
}

i.mobile-nav{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;

    opacity: 0;
    pointer-events: none;

    box-sizing: border-box;
    padding: 1em;
    margin: 1em;

    transition-property: opacity, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

nav{
    transition-property: transform, opacity, color;
    transition-duration: 150ms;
    transition-timing-function: linear;
}

nav *{
    cursor: pointer;
}

@media screen and (max-width: 992px){
    nav#main{
        opacity: 0;
        pointer-events: none;
    }

    i.mobile-nav{
        opacity: 1;
        pointer-events: all;
    }

    nav#mobile{
        transform: translateX(100%);
        opacity: 1;
        pointer-events: all;
    }
}
