header{                                     
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    box-sizing: border-box;
    padding: 1em;


    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

header a#name, header a#name:visited{
}

header nav{
    box-sizing: border-box;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

header nav > *{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

header nav > *:first-child{
    font-weight: bold;
    font-size: 2em;

    grid-column-start: 1;
    grid-column-end: 9;

    justify-content: flex-start;
}

div.item > div.dropdown-container{
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    transform: scale(1, 0);
    transform-origin: top center;

    overflow: hidden;
}

div.item div.dropdown{
    transform: translateY(-200%);

    transition: transform 150ms ease-out;
}

div.item.open div.dropdown-container{
    transform: scale(1, 1);
}

div.item.open div.dropdown{
    transform: translateY(0);
}

div.dropdown div.item{
    margin: 1em;
}
