html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: Futura;
}

a, a:visited{
    text-decoration: none;
}

.color-fade *{
    transition: color 150ms linear;
}

.color-fade.black *{
    color: black;
}

.color-fade.white *{
    color: white;
}
