html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: Futura;
}

a, a:visited{
    text-decoration: none;
}

*{
    transition: color 300ms linear;
}

.black *{
    color: black;
}

.white *{
    color: white;
}


