article{
    max-width: 55em;

    box-sizing: border-box;
    padding: 5em;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

article header{
    padding: 0;
    font-style: italic;
}

article footer{
}

.gallery{
    box-sizing: border-box;
    margin: 5em;

    flex: 0 0 100vw;
    min-height: 10em;
    max-height: 100vw;

    overflow: hidden;

    background-color: #f2f2f2;

    position: relative;
}

.gallery .slider{
    display: flex;
    flex-flow: row no-wrap;

    transition: transform 150ms linear;
}

.slider figure{
    flex: 0 0 100%;
    height: 100%;
    margin: 0;
}

.slider figure img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.slider figcaption{
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;

    box-sizing: border-box;
}
