.grid-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 20em);
    grid-auto-rows: 20em;
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    list-style-type: none;
    padding: 0;
}

.grid-item{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;

    position: relative;

    box-sizing: border-box;
    padding: 1em;

    overflow: hidden;
}

.grid-item img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.grid-item figcaption{
    box-sizing: border-box;
    padding: 1em 2em;

    transition: transform 150ms linear;
}

.grid-item:hover figcaption{
    transform: translateY(200%);
}

.grid-item.black figcaption{
    background-color: white;
    color: black;
}

.grid-item.white figcaption{
    background-color: black;
    color: white;
}
