.slideshow{
    position: relative;
    
    overflow: hidden;
}

.event-container{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    cursor: pointer;
}

.event-area{
    position: relative;
    z-index: 1;
    flex: 0 0 20vw;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.event-area:nth-of-type(1){
    justify-content: flex-start;
}

.event-area:nth-of-type(2){
    justify-content: flex-end;
}

.event-area .arrow{
    opacity: 0;

    height: 100%;
    width: 5em;

    transition: opacity 300ms linear;

    cursor: pointer;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.event-area .arrow.active{
    opacity: 1;
}

.slideshow .slider{
    height: 100%;

    display: flex;
    flex-flow: row nowrap;

    transition: transform 100ms linear;
}

.slideshow .slide{
    flex: 0 0 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 3em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;

    position: relative;
}

.slideshow .slide img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    height: 100%;
}

.slideshow .slide figcaption{
    font-size: 1.5em;
    font-weight: bold;

    box-sizing: border-box;
    padding: 1em;

    z-index: 1;
}

.slideshow .slide.white figcaption{
    background-color: white;
    color: black;
}

.slideshow .slide.black figcaption{
    background-color: black;
    color: white;
}

.slideshow .slide.active figcaption{
}

.full-page{
    width: 100vw;
    height: 100vh;
}
