.slideshow{
    position: relative;
    
    overflow: hidden;
}

.slideshow .event-container{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
}

.slideshow .event-area{
    flex: 0 0 50%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    cursor: pointer;

    box-sizing: border-box;
    padding: 1em;
}

.slideshow .event-area:nth-of-type(1){
    justify-content: flex-start;
}

.slideshow .event-area:nth-of-type(2){
    justify-content: flex-end;
}

.slideshow .arrow{
    padding: 1em;

    border-radius: 100%;

    opacity: 0;

    transition: opacity 300ms linear;
}

.slideshow .arrow.active{
    opacity: 1;
}

.slideshow .slider{
    height: 100%;

    display: flex;
    flex-flow: row nowrap;

    transition: transform 300ms linear;
}

.slideshow .slide{
    flex: 0 0 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 3em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;

    position: relative;
}

.slideshow .slide img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.slideshow .slide figcaption{
    font-size: 1.5em;
    font-weight: bold;

    box-sizing: border-box;
    padding: 1em;

    z-index: 1;

    //border: 0.1em solid transparent;
}

.slideshow.white .slide figcaption{
    //border-color: white;
    background-color: white;
    color: black;
}

.slideshow.black .slide figcaption{
    //border-color: black;
    background-color: black;
    color: white;
}

.slideshow .slide.active figcaption{
}

.full-page{
    width: 100vw;
    height: 100vh;
}
